*{
    text-align: center;
    background: #000;
    color: #FFF;
}
.main-title{
    margin-top: 2%;
    margin-bottom: 2%;
    color: #e50914;
    letter-spacing: 6px;
    font-size: 3.4rem;
    text-align: center;
}
.Container{
    height: 100%;
    width: 100%;
}
.Container .Col{
    display: inline;
    padding: 0 2%;
    margin: 0 auto;
    margin-bottom: 3%;
    border-radius: 8px;
    height: 350px;
    margin-bottom: 10%;

}
.Col h1 , .pragraph{
    color: #FFF;
    position: absolute;
    bottom: 10%;
    font-size: 1.4rem;
    text-align: center;
    width: 90%;
    font-family: inherit;
    left: 0;
}
.Col .pragraph{
bottom: -3%;
background-color: #e50914;
color: #FFF;}
.Col img{
    position: absolute;
    top: 0;
    left: 50%;
    width: 175px;
    height: 260px;
    transform: translate(-50%);
    cursor: pointer;

}
