*{
    text-align: center;
}
table{
    width: 100%;
    text-align: center;
    padding: 5%;
    display: table;
    background: #060606;
    color: #FFF;
    font-size: 2rem;
}
table th{
    font-size: 3rem;
    padding-bottom: 5%;
}